<ul class="feed" data-role="listview" data-inset="true" data-counttheme="b">
  <% 0.upto(@subhash.length-1) do |i| %>
    <li data-icon="false">
      <a href='<%= @subhash[i]["data"]["url"] %>' target="_blank">
        <img src='<%= @subhash[i]["data"]["thumbnail"] %>'>
        <h1><%= @subhash[i]["data"]["title"] %></h1>
        <span class="ui-li-count">
          <%= @subhash[i]["data"]["score"] %>
        </span>
      </a>
      <div class="post-metadata">
        <p>
          <a class="comments-link" 
             href='http://www.reddit.com<%= @subhash[i]["data"]["permalink"] %>' target="_blank">
            <%= @subhash[i]["data"]["num_comments"] %> comments</a>

          | <%= time_ago_in_words(DateTime.strptime(@subhash[i]["data"]["created"].to_s, '%s')) %> ago |

          <a href='http://www.reddit.com/user/<%= @subhash[i]["data"]["author"] %>' target="_blank">
            /u/<%= @subhash[i]["data"]["author"] %></a> |

          <a href='http://www.reddit.com/r/<%= @subhash[i]["data"]["subreddit"] %>' target="_blank">
            /r/<%= @subhash[i]["data"]["subreddit"] %></a>
        </p>
      </div>
    </li>
  <% end %>
  <li>
    <%= link_to "Next page", { controller: "static_pages", 
                               action: "home", 
                               after: @hash["data"]["after"] } %>
  </li>
</ul>
